.left-link {
  display: none;
  position: fixed;
  left: 23px;
  top: 50%;
  color: #fefefe;
  width: 63px;
  z-index: 5;
  font-size: 13px;

  @include breakpoint(medium) {
    left: rem-calc(34);
    width: rem-calc(80);
    font-size: inherit;
    display: block;
  }
  
  a {
    color: white;
    padding-left: rem-calc(10);
  }

  .indicator {
    position: absolute;
    bottom: 0;
    left: rem-calc(-10);
    transform: translateX(-50%);

    svg {
      color: white;
      font-size: 0.8rem;
    }

    .fas {
      position: relative;
      top: 2px;

      @include breakpoint(medium) {
        top: 0;
      }   
    }

    &::before {
      content: '';
      background: rgba(255, 255, 255, 0.5);
      height: rem-calc(25);
      width: rem-calc(25);
      position: absolute;
      top: -3px;
      right: -6px;
      border-radius: 50%;
      animation: pulsate 2s ease-out;
      animation-iteration-count: infinite;

      @include breakpoint(medium) {
        top: -2px;
        right: -5px;
      }   
    }

    &::after {
      content: '';
      border-top: rem-calc(2) solid $white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: rem-calc(-30);
      width: rem-calc(30);
    }
  }
}



.right-link {
    display: none;
    position: fixed;
    right: 8px;
    top: 50%;
    color: #fefefe;
    width: 63px;
    z-index: 5;
    font-size: 13px;

    @include breakpoint(medium) {
      right: rem-calc(34);
      width: rem-calc(80);
      font-size: inherit;
      display: block;
    }

  a {
    color: white;
  }

  .indicator {
    position: absolute;
    bottom: 0;
    right: rem-calc(-10);
    transform: translateX(-50%);

    svg {
      color: white;
      font-size: 0.8rem;
    }

    &::before {
      content: '';
      background: rgba(255, 255, 255, 0.5);
      height: rem-calc(25);
      width: rem-calc(25);
      position: absolute;
      top: -3px;
      left: -6px;
      border-radius: 50%;
      animation: pulsate 2s ease-out;
      animation-iteration-count: infinite;
      @include breakpoint(medium) {
        top: -2px;
        left: -5px;
      } 
    }


    .fas {
      position: relative;
      top: 2px;

      @include breakpoint(medium) {
        top: 0;
      }    
    }

    &::after {
      content: '';
      border-top: rem-calc(2) solid $white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem-calc(-30);
      width: rem-calc(30);
    }
  }
}

.right-link {
  top: 50%;
  
}

.right-link-website {
  top: 75%;
  text-align: right;
  

}

.right-link, .right-link-website {
    display: none;
    position: fixed;
    right: 8px;
    color: #fefefe;
    width: 63px;
    z-index: 5;
    font-size: 13px;
    padding-right: 25px;
    text-align: right;

    @include breakpoint(medium) {
      right: rem-calc(34);
      width: rem-calc(80);
      font-size: inherit;
      display: block;
    }

  a {
    color: white;
  }

  .indicator {
    position: absolute;
    right: rem-calc(-10);
    transform: translateX(-50%);
    bottom: 0;

    svg {
      color: white;
      font-size: 0.8rem;
    }

    &::before {
      content: '';
      background: rgba(255, 255, 255, 0.5);
      height: rem-calc(25);
      width: rem-calc(25);
      position: absolute;
      top: -3px;
      left: -6px;
      border-radius: 50%;
      animation: pulsate 2s ease-out;
      animation-iteration-count: infinite;
      @include breakpoint(medium) {
        top: -2px;
        left: -5px;
      } 
    }


    .fas {
      position: relative;
      top: 2px;

      @include breakpoint(medium) {
        top: 0;
      }    
    }

    &::after {
      content: '';
      border-top: rem-calc(2) solid $white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem-calc(-30);
      width: rem-calc(30);
    }
  }
}


.single-post {
  .left-link, .right-link {
    display: block;
  }
}
.scroll-indicator {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  .indicator {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);

    svg {
      color: white;
      font-size: 0.8rem;
    }

    &:before {
      content: '';
      border-left: 2px solid white;
      position: absolute;
      top: 17px;
      left: 7px;
      height: 25px;
    }

    &:after {
      content: '';
      background: rgba(255, 255, 255, 0.5);
      height: rem-calc(25);
      width: rem-calc(25);
      position: absolute;
      top: rem-calc(-2);
      left: rem-calc(-4px);
      border-radius: 50%;
      animation: pulsate 2s ease-out;
      animation-iteration-count: infinite;
    }
  }

  p {
    color: white;
    font-size: rem-calc(16) !important;
    margin-bottom: rem-calc(22);

    @include breakpoint(medium) {
      font-size: rem-calc(20);
    }

    &.scroll-text {
      font-style: italic;
      font-family: $header-font-family;
      margin-top: 40px;
      position: relative;

      &:after {
        content: '';
        border-left: rem-calc(2) solid white;
        position: absolute;
        top: rem-calc(35);
        left: 50%;
        height: rem-calc(30);
        transform: translateX(-50%);
      }
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}
