@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin centerX() {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
}

@mixin centerY() {
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
}

@mixin centerXY() {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
