// Page header
.front-hero {
  background: url('../images/heritagegb-home-temp.jpg') bottom center;
  background-size: cover;
  background-position: bottom;
  padding: rem-calc(65%) 0;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .video-slider {
    width: 100%;
    height: 100vh;
    margin-left: 0;

    .slick-slide {
      height: 100vh;
    }

    .slide {
      width: 100%;
      height: 100%;

      video {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }

  .header-text {
    max-width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    right:0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;


    h1{
      font-size: rem-calc(30);

      @include breakpoint(medium){
        font-size: rem-calc(56);
      }

      @include breakpoint(xlarge){
        font-size: rem-calc(70);
      }
    }

    p{
      font-size: rem-calc(16);

      @include breakpoint(medium){
        font-size: rem-calc(23);
      }
    }

    h1,
    p {
      color: white;
      text-shadow: 0 3px 11px #000803;
      max-width: 65%;
    }

  }

  h1 {
    @include breakpoint(large){
      font-size: 4rem;
      margin-bottom: 30px;
    }
  }

  p {
    font-size: 1.6rem;
  }
}

header.front-hero.bg-video:after {
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  nav .main-container {
    width: 100%;
    margin: 0;
  }
  .front-hero .video-slider .slide video {
    display: none; 
  }
  .attractions-list .attraction-home {
    padding: 0;
  }
  .news-post article, .post-content article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0!important;
    position: relative;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
    width: 100%;
    min-height:80vh;
    margin-top: 5vh;
  }
  .news-post article h1, .post-content article h1 {
    margin-top: 10vh;
  }
  .news-post article .content-container, .post-content article .content-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .single-attraction .background-image {
    position: absolute!important;
    right: 0;
    bottom: 0;
  }
  .single-attraction {
    background-color: #004965;
  }
  .attraction-content {
    margin: 0!important;
  }
}
// @supports (-ms-accelerator:true) {
//   nav .main-container {
//     width: 100%;
//     margin: 0;
//   }
//   .front-hero .video-slider .slide video {
//     display: none; 
//   }
//   .attractions-list .attraction-home {
//     padding: 0;
//   }
//   .news-post article, .post-content article {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 0!important;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right:0;
//     left: 0;
//     width: 100%;
//     min-height:80vh;
//     margin-top: 5vh;
//   }
//   .news-post article .content-container, .post-content article .content-container {
//     width: 80%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }
//   .single-attraction .background-image {
//     position: absolute!important;
//     right: 0;
//     bottom: 0;
//   }
//   .single-attraction {
//     background-color: #004965;
//   }
//   .attraction-content {
//     margin: 0!important;
//   }
// }

// Edge

@supports (-ms-ime-align:auto) {
  nav .main-container {
    width: 100%;
    margin: 0;
  }
  .front-hero .video-slider .slide video {
    display: none; 
  }
  .attractions-list .attraction-home {
    padding: 0;
  }
  .news-post article, .post-content article {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
    width: 100%;
    min-height:80vh;
    margin-top: 5vh;
  }
  .news-post article .content-container, .post-content article .content-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .single-attraction .background-image {
    position: absolute!important;
    right: 0;
    bottom: 0;
  }
  .single-attraction {
    background-color: #004965;
  }
  .attraction-content {
    margin: 0!important;
  }
}


.fa-circle {
  .fa-circle {
    display: none;
  }
}
.off-canvas-content {
  overflow: hidden;
}

html, body {
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

.socialsMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;


  a {
    font-size: 0.9rem;
    font-family: 'capitolium-2', serif;
    color: white;
    height: 4.25rem;
    width: 4.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    margin: 0 0.9375rem;

    &:hover {
      transform: scale(0.95);
      background: white;
      color: #1779ba;
    }
  }
}