.news-post,
.post-content{
  min-height: 100vh;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  padding: rem-calc(75 0 100);
  position: relative;

  article {
    width: 80%;
    padding: 0 3.3rem;
    margin-left: auto;
    margin-right: auto;


    @include breakpoint(large){
      width: 75%;
    }

    .content-container {
      width: 100%;

      h1{
        font-size: rem-calc(19);
        line-height: rem-calc(21);
        margin-bottom: rem-calc(20);
  
        @include breakpoint(medium){
          font-size: rem-calc(35);
          line-height: rem-calc(38);
        }
  
        @include breakpoint(large){
          font-size: rem-calc(55);
          line-height: rem-calc(55);
        }
      }

      p{
        font-size: rem-calc(16);
        line-height: rem-calc(18);

        @include breakpoint(medium){
          font-size: rem-calc(26);
          line-height: rem-calc(30);
        }
      }

      .circle-button{
        margin: 0 auto;

        @include breakpoint(medium){
          margin: 0;
        }
      }

      @include breakpoint(large) {
        width: 100%;
      }
    }
  }
}

.news-post{
  h1,h2,h3,p{
    text-shadow: 0 rem-calc(3) rem-calc(11) #000803;
  }

  .content-container{
    position: relative;
    z-index: 1;
  }

  &:nth-of-type(n+2) .scroll-indicator{
    display: none;
  }
}

.post-content{
  background: $black;
  color: $white;
}
