.single-attraction {
  color: $white;

  .attraction-content {
    .text-side {
      @include breakpoint(large){
        float: left;
      }
    }
  }
  .image-cover {
    background: rgba(0,0,0,0.2);
    &.darker {
      background: rgba(0,0,0,0.55);
    }
  }
  .full-section {
    
    .attraction-content {
      .linkWrap {
        float: left;
        clear: both;
        width: 100%;
        text-align: center;


        @include breakpoint(large){
          text-align: left;
          width: 100%;
          display: flex;
          width: 100%;
          min-height: 100px;
          position: relative;
          align-items: center;
        }  
        @media only screen and (min-width: 1200px) {
          min-height: 150px;
        }
        a {
          display: inline-block;


          &.circle-button {
            display: flex;
            float: none;
            margin: 20px auto;

            @include breakpoint(large){
              margin-top: 20px;
              margin: 20px auto 20px 0;
              margin: 0;
              position: absolute;
              right: 0;
              top: 0;
              botom: 0;
              margin: auto;
            }  
          }
          // display: flex;
  
          // &:nth-of-type(1) {
          //   margin-bottom: 50px;

          //   img {
          //     float: none;
          //     position: relative;
          //     right: auto;
          //     left: auto;
          //     margin: 0;
          //   }
          // }
          // &:nth-of-type(2) {
          //   margin:0;
          //   float: none;

          //   @include breakpoint(large){
          //     position: relative;
          //     right: auto;
          //     left: auto;
          //     margin: 0 auto;
              
          //   } 
          // }
        }        
      }
    }
  }


  figure {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


    &.contained {
      @include xy-grid-container;
      width: 100%;
    }

    &.full {
      &.back {
        h1, h2, h3, p {
          position: relative;
          z-index: 2;
        }
        &:after {
          content: "";
            //background: rgba(0,0,0,0.6);
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
      }
    }

    &.portrait-left,
    &.portrait-right,
    &.landscape-left,
    &.landscape-right,
    &.full,
    &.full-margin-top,
    &.full-margin-bottom,
    &.full-margin-both {
      @include breakpoint(small only){
        height: rem-calc(310);
        transform: translate3d(0) !important;
      }
      @include breakpoint(medium only) {
        min-height: rem-calc(310);
      }
  
        

        
    }

    &.full {
      width: 100%;
    }

    &.full-margin-top {
      width: 100%;
      
      @include breakpoint(medium){
        margin-top: rem-calc(50);
      }

    }

    &.full-margin-bottom {
      width: 100%;
      margin-bottom: rem-calc(50);
    }

    &.full-margin-both {
      width: 100%;
      margin-bottom: 0.625rem;

      @include breakpoint(medium){
        margin-top: rem-calc(50);
        margin-bottom: rem-calc(50);
      }     
    }
  }
  .landscape-right-v2 {
    &.back {
      margin-top: -10px;
    }
  }
  .portrait-center-contained {
    &.middle {
      margin-top: -10px;
    }
  }
  .image-cover {
    position: fixed;
  }

  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    filter: blur(15px);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 104vh;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .attractions-text {
    @include xy-grid-container();
    position: relative;
    z-index: 5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      text-shadow: 0 rem-calc(3) rem-calc(11) #000803;
      text-align: center;
      font-size: rem-calc(42);
      line-height: rem-calc(44);
      margin-bottom: rem-calc(40);

      @include breakpoint(medium){
        font-size: rem-calc(60);
        line-height: rem-calc(60);
        text-align: left;
      }

      @include breakpoint(large){
        font-size: rem-calc(70);
        line-height: rem-calc(70);
      }
    }

    p {
      text-shadow: 0 rem-calc(3) rem-calc(11) #000803;
      font-size: rem-calc(24);
      line-height: rem-calc(24);
      text-align: center;

      @include breakpoint(medium){
        font-size: rem-calc(33);
        line-height: rem-calc(33);
        text-align: left;
      }
    }
  }
}

figure {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

  @include breakpoint(large){
    min-height: rem-calc(500);
  }

  &.contained {
    width: 100%;
    height: rem-calc(310);
    margin-top: rem-calc(50);
    margin-bottom: rem-calc(50);

    @include breakpoint(xlarge) {
      height: rem-calc(800);
    }
  }

  @include breakpoint(xlarge) {
    &.full,
    &.full-margin-top,
    &.full-margin-bottom,
    &.full-margin-both {
      width: 100%;
      height: 100vh;
    }

    // LANDSCAPE IMAGES
    &.landscape-left {
      width: rem-calc(900);
      height: rem-calc(600);
      float: left;
      margin-top: rem-calc(-60);
      background-position-x: left;
    }

    &.landscape-left-v2 {
      width: rem-calc(900);
      height: rem-calc(600);
      float: left;
      margin-top: rem-calc(40);
      background-position-x: left;
    }

    &.landscape-off-left {
      width: rem-calc(880);
      height: rem-calc(780);
      float: left;
      top: rem-calc(-100);
      left: rem-calc(50);
      background-position-x: left;
    }

    &.landscape-right {
      width: rem-calc(900);
      height: rem-calc(600);
      float: right;
      margin-top: rem-calc(-60);
      background-position-x: right;
    }

    &.landscape-right-v2 {
      width: rem-calc(900);
      height: rem-calc(600);
      float: right;
      margin-top: rem-calc(40);
      background-position-x: right;
    }

    &.landscape-off-right {
      width: rem-calc(880);
      height: rem-calc(780);
      float: right;
      top: rem-calc(-100);
      right: rem-calc(50);
      background-position-x: right;
    }

    // PORTRAIT IMAGES
    &.portrait-center-contained {
      width: rem-calc(830);
      height: rem-calc(1000);
      margin-top: rem-calc(-60);
      margin-bottom: rem-calc(50);
      margin-left: auto;
      margin-right: auto;

      @include breakpoint(xlarge) {
        height: rem-calc(1200);
      }
    }

    &.portrait-center-overlap {
      width: rem-calc(830);
      height: rem-calc(1000);
      margin-top: rem-calc(-60);
      margin-bottom: rem-calc(50);
      margin-left: auto;
      margin-right: auto;

      @include breakpoint(xlarge) {
        height: rem-calc(1200);
      }
    }

    &.portrait-left {
      width: rem-calc(540);
      height: rem-calc(680);
      float: left;
      top: rem-calc(-100);
      background-position-x: center;
    }

    &.portrait-right {
      width: rem-calc(440);
      height: rem-calc(400);
      float: right;
      top: rem-calc(-100);
      background-position-x: right;
    }

    &.portrait-off-right {
      width: rem-calc(440);
      height: rem-calc(400);
      float: right;
      top: rem-calc(-100);
      right: rem-calc(50);
      background-position-x: right;
    }

    &.portrait-off-left {
      width: rem-calc(440);
      height: rem-calc(400);
      float: left;
      top: rem-calc(-100);
      left: rem-calc(50);
      background-position-x: left;
    }
  }
}

.contained-image {
  @include xy-grid-container;
  position: relative;
  display: block;
  clear: both;

  .image-title {
    position: absolute;
    width: 100%;
    top: 35%;
    transform: translateY(-35%);
    z-index: 1;

    &.left {
      left: 0;
      text-align: left;
    }

    &.center {
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }

    &.right {
      right: 0;
      text-align: right;
    }
  }
}

.image-title {
  text-shadow: 0 0.1875rem 0.6875rem #000803;
}

.attraction-content {
  @include xy-grid-container;
  position: relative;
  height: 100%;
  z-index: 3;
  

  @include breakpoint(medium){
    padding-left: 125px;
    padding-right: 125px;
  }

  .inner-content {
    width: 65%;

    h2 {
      margin-bottom: rem-calc(30);
    }

    ul li {
      font-size: rem-calc(20);
      margin-bottom: rem-calc(30);
    }
  }

  .attraction-logo {
    float: left;
    width: rem-calc(150);

    @include breakpoint(xlarge){
      top: 0;
      width: rem-calc(200);
    }
  }

  .circle-button {
    float: right;

    @include breakpoint(xxlarge){
      bottom: 0;
    }
  }
}

//z-indexs
.back {
  z-index: 2;
}

.middle {
  z-index: 2;
}

.front {
  z-index: 1;
}

.parallax-section {
  height: 100%;
  margin-bottom: rem-calc(10);
  display: block;
  position: relative;
  z-index: 1;

  &::before {
    position: fixed;
    content: '';
  }
}

.postid-16, .postid-17, .postid-18, .postid-19 {
  &.single-attraction {
    .image-cover {
      &.darker {
        background: rgba(0, 0, 0, 0.75);
      }
    }
  }
}