// Attraction Menu
.attraction-menu {
  display: none;

  @include breakpoint(xlarge) {
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: rem-calc(20);
    z-index: 3;
  }

  svg {
    color: white;
    position: relative;

    &.bottom {
      top: rem-calc(-2);
    }
  }

  .indicator {
    position: relative;
    margin-left: rem-calc(-2);

    svg {
      color: white;
      font-size: 0.8rem;
      transition: all 0.4s ease-in-out;
    }
  }

  ul {
    list-style-type: none;
    margin-left: 4px;

    li {
      margin: 0;

      a {
        color: white;
        padding: rem-calc(6 0);

        .indicator::before {
          content: '';
          background: rgba(255, 255, 255, 0.5);
          height: rem-calc(25);
          width: rem-calc(25);
          position: absolute;
          top: rem-calc(-6px);
          left: 42%;
          transform: scale(0);
          margin-left: rem-calc(-12);
          border-radius: 50%;
        }

        &.active .indicator::before,
        &:hover .indicator::before {
          transform: scale(1);
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }
}

.home .attraction-menu {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;

  &.inview {
    opacity: 1;
  }

  ul {
    li {
      a {
        position: relative;
        display: block;
        transition: all 0.4s ease-in-out;

        span.indicator {
          font-size: 0.6rem;
        }

        span.title {
          opacity: 0;
          transition: all 0.8s ease-in-out;
          position: relative;
          left: -100%;
          width: fit-content;
          margin-left: rem-calc(15);
        }
      }
    }
  }

  &:hover {
    span.title {
      opacity: 1;
      left: 0;
    }
  }
}
