.attractions-list {
  position: relative;
  z-index: 2;
  background-color: #004965;

  .attraction-home {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 1s ease-in-out;
    margin: 0 auto!important;

    @include breakpoint(large) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      box-shadow: 0px -15px 20px -10px rgba(0,0,0,0.2);
      transition: all 0.8s ease;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    h2 {
      @include breakpoint(medium) {
        font-size: rem-calc(36);
        font-size: rem-calc(36);
      }

      @include breakpoint(large) {
        font-size: rem-calc(50);
        line-height: 1;
      }
      @include breakpoint(xlarge) {
        font-size: 50px;
        line-height: 1;
      }
    }

    h2,
    p {
      color: white;
      text-shadow: rem-calc(0 3 43) #021921;
    }

    h2 {
      @include breakpoint(large) {
        font-size: 4rem;
        margin-bottom: rem-calc(30);
      }
    }

    p {
      font-size: 24px;

      @include breakpoint(large) {
        font-size: 1.8rem;
      }
    }

    .circle-button {
      position: relative;
      margin-left: 40px;
      z-index: 999;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      

      @include breakpoint(medium) {
        margin-left: 40px;
        margin-right: auto;
        margin-top: 0;
      }

    }

    .attractions-text {
      opacity: 1;
      transition: all 0.6s ease-in-out;
      transition-delay: 0.2s;
      width: 100%;
      position: relative;
      
      z-index: 5;
      text-align: center;
      padding: rem-calc(0 10);
      

      @include breakpoint(medium) {
        display: flex;
        align-items: center;
        padding: 0 40px;
        height: 100vh;

        .inner-text {
          width: 64%;
          float: left;
          text-align: left;
        }
      }
        

      @include breakpoint(xlarge) {
        margin-left: 270px;
        margin-right: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 0;
        top: rem-calc(-90);
      }

      h2 {
        @include breakpoint(small only) {
          font-size: rem-calc(40);
          line-height: rem-calc(38);
          margin-bottom: rem-calc(20);
        }
      }

      h2,
      p {
        text-shadow: none;
      }
    }

    &.inview {
      .image{
        transform: scale(1.1);
        .image-cover {
          background: rgba(0,0,0,0.5);
        }
      }

      .attractions-text,
      .scroll-indicator {
        opacity: 1;
      }

      .scroll-indicator {
        width: fit-content;
      }
    }

    .scroll-indicator {
      opacity: 0;
      transition: all 0.6s ease-in-out;
      transition-delay: 0.2s;

      p.scroll-text {
        font-size: 1.4rem;
      }
    }
  }
}

.scrollmagic-pin-spacer:last-of-type .scroll-indicator {
  display: none;
}
