// body{
//   background-image: url('http://heritagebg.byry.co.uk/wp-content/uploads/2019/10/Lands_End_Attraction_Title_Image-1.jpg');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   height: 100vh;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
small {
  color: $white;
}

.text-side {
  width: 100%;
  margin-bottom: rem-calc(60);

  h1 {
    font-size: rem-calc(42);
    line-height: rem-calc(42);
    margin-bottom: rem-calc(40);

    @include breakpoint(medium) {
      font-size: rem-calc(60);
      line-height: rem-calc(60);
    }

    @include breakpoint(large) {
      font-size: rem-calc(70);
      line-height: rem-calc(70);
    }
  }

  h2 {
    font-size: rem-calc(26);
    line-height: rem-calc(26);
    margin-bottom: rem-calc(30);
    font-family: 'Nunito Sans', sans-serif;

    @include breakpoint(medium) {
      font-size: rem-calc(33);
      line-height: rem-calc(33);
    }
  }

  p {
    font-size: rem-calc(18);
    line-height: rem-calc(24);
  }

  @include breakpoint(large) {
    max-width: 60%;
    margin-left: rem-calc(140);
  }

  @include breakpoint(large) {
    max-width: 70%;
    margin-left: 0;
  }
}

.inner-text {
  width: 100%;
  position: relative;
  z-index: 1;

  h1,
  h2,
  h3,
  p {
    text-shadow: 0 rem-calc(3) rem-calc(11) #000803;
  }

  @include breakpoint(medium) {
    width: 70%
  }

  @include breakpoint(xlarge) {
    width: 60%;
    margin-left: 0;
  }
}

.main-container {
  @include xy-grid-container;
}

.main-grid {
  @include xy-grid();
  padding: rem-calc(80 0);

  &.sidebar-left {

    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content {
        order: 1;
      }

      .sidebar {
        order: 2;
      }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content {
        order: 2;
      }

      .sidebar {
        order: 1;
      }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);

    &.thin {
      h1 {
        text-align: center;
        font-size: rem-calc(42);
        margin-bottom: rem-calc(40);

        @include breakpoint(medium) {
          font-size: rem-calc(60);
        }

        @include breakpoint(large) {
          font-size: rem-calc(70);
        }
      }

      @include breakpoint(medium) {
        @include xy-cell(7);
        margin: 0 auto;
      }

      .circle-button {
        margin: 0 auto;

        @include breakpoint(medium) {
          margin: 0;
        }
      }
    }
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}

.full-bg {
  &.blue {
    background: $footer-blue;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    small {
      color: $white;
    }
  }
}

.full-section {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .attraction-content {
    margin: 40px 0;


  }

  @include breakpoint(xlarge) {
    padding: rem-calc(100 0);
  }

  &.no-flex {
    display: block;
  }

  .section-title {
    @include xy-cell(12);
    text-align: center;
  }
}

.image-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 0;
  transition: all 0.8s ease;
}

a.line-link {
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: rem-calc(1);
    background: $white;
    position: absolute;
    bottom: rem-calc(6);
    left: 0;
    bottom: 0;
    @include transition(all 0.4s ease-in-out);

    @include breakpoint(medium) {
      width: 50%;
    }
  }

  &:hover:after {
    width: 100%;
    left: 0;
  }
}

.clear {
  clear: both;
}

p {
  font-size: rem-calc(20);
  line-height: rem-calc(30);
}

.responsive-embed {
  z-index: 1;
}

.shared-counts-wrap {
  visibility: hidden;
  opacity: 0;
  margin: 0 0 20px 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: 99;
  background: white;
  width: 150px;
  height: 150px;
  padding: 64px 23px;
  border-radius: 50%;
  @include transition(all 0.4s ease-in-out);

  &.is-active{
    visibility: visible;
    opacity: 1;
  }

  &.style-icon {
    .shared-counts-button {
    .shared-counts-icon {
        display: block;
        width: rem-calc(26);
        height: 32px;
        line-height: 32px;
        text-align: center;

        svg {
          width: rem-calc(20) !important;
          height: rem-calc(20) !important;
        }
      }
    }
  }
}
