.site-footer {
  background-image: linear-gradient(to bottom, #004a65, #005668, #006264, #1b6c5c, #407551);
  min-height: 125vh;
  color: $white;
  position: relative;
  padding: 5rem 1rem;
  text-align: center;
  z-index: 3;

  @include breakpoint(xlarge){
    text-align: left;
    padding: rem-calc(100 0);
  }
}

.footer-grid {
  @include xy-grid-container;
  padding: rem-calc(0 0 20);
  // position: absolute;
  // top: 20%;
  // left: 50%;
  // transform: translate(-50%);
  width: 100%;

  @include breakpoint(medium){
    max-width: 70%;
  }

  @include breakpoint(xlarge){
    max-width: auto;
    padding: rem-calc(30 0 30 80);
  }

  section {
    @include xy-cell();
    position: relative;

    h2{
      font-size: rem-calc(35);
    }

    @include breakpoint(medium) {
      @include xy-cell(auto);

      .textwidget {
        h2 {
          font-size: rem-calc(60);
          margin-bottom: rem-calc(40);
        }

        h3{
          margin-bottom: rem-calc(40);
          font-size: 25px;
        }
      }
    }
    .textwidget {
      h3 {
        @media only screen and (min-width: 1200px) {
          max-width: 550px;
        }
      }
    }

    a {
      color: $white;
      margin-bottom: 10px;
    }

    .footer-links{

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;



      .news, .facebook, .twitter, .linkedin {
        padding: 0 5px;
        flex: 1 0 75px;
        height: 75px;
        width: 75px;
        max-width: 75px;
        margin: 10px;
      }
      

      .news{
        float: left;
      }
  
      .facebook{
        float: right;
      }

      .twitter {
        float: left;
        clear: both;
      }
      .linkedin {
        float: right;
        clear: none;
      }

      &::after{
        content: '';
        display: block;
        clear: both;
      }
  
      @include breakpoint(xlarge) {
        .news,
        .facebook {
          position: absolute;
          right: rem-calc(100);
          float: none;
        }

        .news, .facebook, .twitter, .linkedin {
          height: 125px;
          width: 125px;
          max-width: 125px;
        }
  
        .news {
          top: 0;
          right: 0;
        }
  
        .facebook {
          top: 150px;
          right: 0;
        }

        .twitter {
          right: 0;
          top: 300px;
          position: absolute;
        }
        .linkedin {
          right: 0;
          top: 450px;
          position: absolute;
        }
      }
    }
  }
  .footer-credit {
    @media only screen and (min-width: 1200px) {
      margin-left: 15px;
    }
  }
  #text-3 {
    p {
      a {
        &:first-of-type {
          img {
            @media only screen and (min-width: 1200px) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
