#loading-cover {
  @include xy-grid-container;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: block;
  opacity: 1;
  z-index: 999999999;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: $footer-blue;
  background-image: linear-gradient(to bottom, #004a65, #005668, #006264, #1b6c5c, #407551);
  animation: loading-cover 1s 1;
  -webkit-animation: loading-cover 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
  /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
  padding: rem-calc(60);

  div {
    @include xy-cell(12);

    &.logo>img {
      width: rem-calc(300);
      margin-bottom: rem-calc(26);
    }

    &.loader-text {
      display: block;
      width: 100%;
      max-width: 65%;
      position: absolute;
      top: 34%;
      left: 50%;
      transform: translate(-50%);
      margin-left: 0;
      padding: rem-calc(0 10);

      @include breakpoint(xlarge){
        top: 33%;
        padding: 0;
      }

      h1 {
        font-size: rem-calc(30);

        @include breakpoint(medium){
          font-size: rem-calc(60)
        }
        
        @include breakpoint(xlarge){
          font-size: rem-calc(70)
        }
      }
    }
  }

  #loader {
    width: rem-calc(110);
    position: absolute;
    bottom: rem-calc(20);
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;

    &::after{
      content: '';
      border-left: 0.125rem solid white;
      position: absolute;
      bottom: rem-calc(-50);
      left: 50%;
      height: rem-calc(70);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}

@keyframes loading-cover {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes loading-cover {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    z-index: -1;
  }
}
