// Navigation
.site-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 10px;

  .title-bar {
    background: transparent;

    .custom-logo {
      width: rem-calc(100);

      @include breakpoint(medium) {
        width: rem-calc(140);
      }
    }

    .pill-button {
      display: none;

      @include breakpoint(medium){
        display: inline-block;
        margin-right: 15px;
      }
    }
  }

  .title-bar-right {
    margin-top: rem-calc(-20);
  }
}

.position-top {
  transform: translateY(-100vh);
}

.menu-icon {
  width: rem-calc(40);
}

// Animated menu icon
.nav-icon-container {
  background: transparent;
  @include transition(all 0.6s ease-in-out);
  position: relative;
  right: 0;
  top: 12px;

  .nav-icon {
    width: rem-calc(40);
    @include transition(all 0.6s ease-in-out);

    &:after,
    &:before,
    div {
      background-color: $white;
      border-radius: rem-calc(3);
      content: '';
      display: block;
      height: rem-calc(2);
      margin: rem-calc(8 0);
      @include transition(all 0.6s ease-in-out);
    }

    div {
      width: rem-calc(15);
      margin: 0 auto;
    }

    &.is-active {
      &:before {
        transform: translateY(10px) rotate(135deg);
      }

      div {
        transform: scale(0);
      }

      &:after {
        transform: translateY(-10px) rotate(-135deg);
      }
    }
  }
}

// Off Canvas Menu
nav.off-canvas {
  background: url(../images/heritage-menu-bg.jpg) center / cover no-repeat;
  transition: transform 0.5s ease-in-out;

  @include breakpoint(medium) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.is-open {
    height: 100vh;
    padding-top: rem-calc(100);
    padding-bottom: 4rem;

    @include breakpoint(medium) {
      padding-top: 0;
    }

    h2 {
      color: white;
      font-size: 2rem;
      margin-bottom: 2.5rem;
      position: absolute;
      top: 18px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .menu-bar-bottom {
    position: static;
    width: 100%;

    @include breakpoint(medium) {
      position: absolute;
      bottom: rem-calc(20);
      left: 0;
      bottom: 50px;
    }

    .left {
      display: block;
      float: left;
      margin-left: rem-calc(20);
      font-size: rem-calc(18);
    }

    .right {
      display: block;
      float: right;
      margin-right: rem-calc(20);
      font-size: rem-calc(18);
    }

    &::after {
      display: block;
      clear: both;
      content: '';
    }
  }
}

.menu .is-active>a {
  background: $white;
}

.menu-logos {
  list-style: none;
  @include xy-grid;
  margin: rem-calc(60 0 0);

  li {
    @include xy-cell(6);

    @include breakpoint(medium) {
      @include xy-cell(20%);
    }

    a {
      margin-bottom: rem-calc(15);
      text-align: center;
      padding: 0;
      margin-bottom: rem-calc(10);

      @include breakpoint(xxlarge) {
        padding: 10px 1.875rem;
        margin-bottom: 0;
      }

      img {
        @include transition(all 0.4s ease-in-out);
        width: 80%;

        @media only screen and (min-height: 650px) and (min-width: 1024px) {
          width: 100%;
        }

        
      }


      @include breakpoint(xlarge) {
        &:hover img {
          transform: scale(1.2);
        }
      }
    }
  }
}

#menu-main-menu.menu {
  width: 80%;
  margin: 10px auto;
  @include xy-grid;
  justify-content: center;
  @include breakpoint(large) {
    margin: 30px auto;
  }


  li {
    display: flex;
    justify-content: center;
    align-items: center;
    @include xy-cell(6);

    @include breakpoint(medium) {
      @include xy-cell(4);
    }

    a {
      font-size: 0.9rem;
      font-family: $header-font-family;
      color: white;
      height: 4.25rem;
      width: 4.25rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid white;
      border-radius: 50%;
      transition: all 0.4s ease-in-out;
      margin-bottom: rem-calc(15);

      &:hover {
        transform: scale(0.95);
        background: white;
        color: $primary-color;
      }

      @media only screen and (min-height: 650px) and (min-width: 1024px) {
        font-size: 1.2rem;
        height: 5.25rem;
        width: 5.25rem;
        margin-bottom: 0;
      }
      @media only screen and (min-height: 650px) and (min-width: 1200px) {
        font-size: 1.6rem;
        height: rem-calc(150);
        width: rem-calc(150);
      }
    }

    &.is-active a {
      color: $black;
    }
  }
}

// Navigation breakpoints


// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}
