// Portfolio Grid
.portfolio {
  background: #05101F url(../images/heritagegb-porfolio-background.jpg) center / cover no-repeat;
  padding-top: rem-calc(180);
  position: relative;
  z-index: 2;

  @include breakpoint(medium){
    padding-top: rem-calc(40);
  }

  .section-title{
    @include breakpoint(small only){
      position: absolute;
      top: rem-calc(-85);
    }
  }

  h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  .full-section{
    height: 97vh;
  }
}

.portfolio-nav {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .portfolio-grid {
    @include xy-grid-container;
    @include xy-grid;
    justify-content: center;
    align-items: center;

    @include breakpoint(medium){
      padding-top: rem-calc(220);
    }

    @include breakpoint(xlarge){
      padding-top: rem-calc(200);
    }

    @include breakpoint(xxlarge){
      padding-top: rem-calc(300);
    }

    @include breakpoint(large only){
      max-width: 95%;
    }

    li {
      @include xy-cell(6);
      list-style-type: none;
      margin-bottom: rem-calc(25);
      text-align: center;

      @include breakpoint(medium) {
        @include xy-cell(20%);
      }

      @include breakpoint(large) {
        @include xy-cell(1 of 5);
        margin-bottom: rem-calc(10);
        margin-left: rem-calc(10);
        margin-right: rem-calc(10);
      }

      @include breakpoint(xlarge) {
        @include xy-cell(1 of 5);
        margin-bottom: rem-calc(50);
      }

      @include breakpoint(xxlarge) {
        @include xy-cell(1 of 5);
        margin-bottom: rem-calc(100);
      }

      img{
        @include transition(all 0.4s ease-in-out);
        padding: 0 25px;
      }

      &:hover img{
        transform: scale(1.2);
      }
    }
  }
}
