.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
  border: none;
}

.pill-button {
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  padding: 5px 25px;
  transition: all 0.4s ease-in-out;

  &:hover {
    background: white;
    color: $primary-color;
  }
}

.circle-button {
  font-size: rem-calc(16);
  font-family: $header-font-family;
  color: white;
  height: rem-calc(100);
  width: rem-calc(100);
  text-align: center;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(xlarge) {
    font-size: 1.6rem;
    height: rem-calc(150);
    width: rem-calc(150);
  }

  &:hover {
    transform: scale(0.95);
    background: white;
    color: $primary-color;
  }
}
