.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  z-index: 1;

  .attractions-text {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    h1{
      text-align: center;
      font-size: 25px;
      margin-bottom: rem-calc(40);
      padding: 0 80px;
      line-height: 29px;

      @include breakpoint(medium){
        font-size: rem-calc(60);
        padding: 0;
        line-height: rem-calc(64);
      }

      @include breakpoint(large){
        font-size: rem-calc(70);
        line-height: rem-calc(74);
      }
    }
  }
}
